@inherits AppComponentBase
@inject IJSRuntime JsRuntime
@if (App.SelectedIcon is not null)
{
    <div class="modal show" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" style="display: block; pointer-events: none" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-3 fw-bolder" id="exampleModalLiveLabel">
                        @Brand
                    </h1 >
                    <button type="button" class="btn-close" @onclick="@App.DeselectIcon" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center py-4 px-3">
                    <div class="display-1 mb-4">
                        <BlazorIcon Icon="@App.SelectedIcon.GetRawConstantValue()?.ToString()"></BlazorIcon>
                    </div>
                    <div class="input-group">
                        <input class="form-control" type="text" value="@iconTypeString" aria-label="@iconTypeString" readonly>
                        <button class="btn border d-flex align-items-center" type="button"
                                @onclick="@CopyToClipboard">
                            <BlazorIcon Icon="@BootstrapIcons.Clipboard"></BlazorIcon>
                        </button>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade show" @onclick="@App.DeselectIcon"></div>
    <script>
        window.clipboardCopy = {
            copyText: function(text) {
                navigator.clipboard.writeText(text).then(function () {
                    alert("Copied to clipboard!");
                })
                    .catch(function (error) {
                        alert(error);
                    });
            }
        };
    </script>
}

@code {

    [Parameter] public RenderFragment? Brand { get; set; }
    private string iconTypeString => $"{App.SelectedStyleType.ToString().Split(".").Last()}.{App.SelectedIcon?.Name}";

    private async void CopyToClipboard()
    {
        await JsRuntime.InvokeVoidAsync("clipboardCopy.copyText", iconTypeString);
    }

}