@inherits AppComponentBase
<div class="input-group">
    <span class="input-group-text fs-4">
        @if (App.SelectedStyleType == typeof(BootstrapIcons))
        {
            <BlazorIcon Icon="@BootstrapIcons.Bootstrap" />
        }
        else if (App.SelectedStyleType == typeof(FontAwesomeIcons.Regular))
        {
            <BlazorIcon Icon="@FontAwesomeIcons.Regular.FontAwesome" />
        }
        else if (App.SelectedStyleType == typeof(FontAwesomeIcons.Solid))
        {
            <BlazorIcon Icon="@FontAwesomeIcons.Solid.FontAwesome" />
        }
        else if (App.SelectedStyleType == typeof(FontAwesomeIcons.Brands))
        {
            <BlazorIcon Icon="@FontAwesomeIcons.Brands.FontAwesome" />
        }
    </span>
    <select id="typeInput"
            class="form-select"
            @bind="@App.SelectedStyleString"
            @oninput="App.OnSelectedStyleChange">
        @foreach (var value in App.Styles)
        {
            <option value="@value">@value</option>
        }
    </select>
</div>