<li class="nav-item">
    <NavLink class="nav-link d-flex align-items-center gap-2 fs-6 fw-bolder" href="@Href" @attributes="@AdditionalAttributes">
        <BlazorIcon Size="BlazorIconSize._Xl" Icon="@Icon" IsFixedWidth />
        <span class="flex-grow-1 flex-shrink-0">@ChildContent</span>
        <BlazorIcon Class="d-lg-none" Icon="@BootstrapIcons.CaretRight" />
    </NavLink>
</li>

@code {

    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }
    [Parameter] public string? Icon { get; set; }
    [Parameter] public string? Href { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
}