<NavItemDropDown AriaLabel="@($"Toggle theme ({ThemeManager.SelectedTheme})")"
                 Label="Toggle Theme"
                 Icon="@ThemeManager.Themes.First(e => e.Key == ThemeManager.SelectedTheme).Value">
    @foreach (var theme in ThemeManager.Themes)
    {
        <button type="button" class="dropdown-item d-flex align-items-center"
                aria-pressed="@ThemeManager.IsSelectedTheme(theme.Key).ToString().ToLower()"
                @onclick="@(async () => await ThemeManager.SelectThemeAsync(theme.Key))">
            <BlazorIcon Class="me-3" Icon="@theme.Value" IsFixedWidth/>
            @theme.Key
            @if (ThemeManager.IsSelectedTheme(theme.Key))
            {
                <BlazorIcon Class="ms-auto" Icon="@BootstrapIcons.Check2" IsFixedWidth/>
            }
        </button>
    }
</NavItemDropDown>
