@inject DemoIconManager IconManager
<DemoNavbarDropDown Title="Icon Type" Label="Select Icon Type" Icon="@IconManager.SelectedIconSet.Logo">
    <div class="input-group">
        <span class="input-group-text fs-4">
            <BlazorIcon Icon="@IconManager.SelectedIconSet.Logo" />
        </span>
        <select id="typeInput" class="form-select" @bind="@IconManager.SelectedIconSet.Name"
            @oninput="HandleInputChange">
            @foreach (var iconsSet in IconManager.IconSets)
            {
                <option value="@iconsSet.Name">@iconsSet.Name</option>
            }
        </select>
    </div>
</DemoNavbarDropDown>

@code {
    private void HandleInputChange(ChangeEventArgs args)
    {
        var selectedSet = IconManager.IconSets.First(e=>e.Name == (string)args.Value!);
        IconManager.SelectIconSetAsync(selectedSet);
    }
}