@inherits BlazorIconBase
<svg xmlns="http://www.w3.org/2000/svg"
     class="@CssClass"
     viewBox="@ViewBox" 
     focusable="@Focusable.ToString().ToLower()" 
     aria-hidden="@(AriaHidden ? "true" : null)"
     @attributes="@AdditionalAttributes">
    @if (!string.IsNullOrWhiteSpace(Title))
    {
        <title>@Title</title>
    }
    @((MarkupString)FormattedIcon!)
</svg>
