@inherits BlazorIconBase
<svg xmlns="http://www.w3.org/2000/svg" 
     class="@CssClass"
     viewBox="@ViewBox"
     aria-hidden="@AriaHidden.ToString().ToLower()"
     focusable="@Focusable.ToString().ToLower()">
    @if (!string.IsNullOrEmpty(Title))
    {
        <title>@Title</title>
    }
    @((MarkupString)Icon!)
</svg>
