@inherits BlazorIconBase
<svg xmlns="http://www.w3.org/2000/svg"
     class="blazor-icon"
     viewBox="@ViewBox" 
     focusable="@Focusable.ToString().ToLower()" 
     aria-hidden="@AriaHidden.ToString().ToLower()">
    @if (!string.IsNullOrWhiteSpace(Title))
    {
        <title>@Title</title>
    }
    @((MarkupString)FormattedIcon!)
</svg>
